{% extends 'layout.html' %}
{% block title %}
    {{ album.name }}
{% endblock %}

{% block content %}
    <nav class="navbar">
        <a href="/">Symphoria</a>
        <input type="text">
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </nav>

    <div class="info">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    <div id = "flash_message">
                        {{ messages[0] }}
                    </div>
            {% endif %}
        {% endwith %}

        <h1>{{ album.name }} Songs</h1>
        {% for song in songs %}
            <div class="song">
                <a href="#">{{ song.name }}</a>

            </div>
        {% endfor %}

    </div>
{% endblock %}