{% extends 'layout.html' %}
{% block title %}
    {{ album.name }}
{% endblock %}

{% block content %}
        <nav class="navbar">
        <a href="/">Symphoria</a>
        <form action="/search" method="POST">
            {% if session['search'] %}
                <input type="text" name="search" value="{{ session['search'] }}">
            {% else %}
                <input type="text" name="search" value="">
            {% endif %}
            <button type="submit"><img src="{{ url_for('static', filename='magnifying-glass-solid.svg') }}" alt=""></button>
        </form>
        <a href="/profile">Profile</a>
        {% if Admin.query.filter_by(id=session['user_id']).first() %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Logout</a>
    </nav>

    <div class="info">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    <div id = "flash_message">
                        {{ messages[0] }}
                    </div>
            {% endif %}
        {% endwith %}

        <h1>{{ album.name }} Songs</h1>
        {% for song in songs %}
            <div class="song">
                <a href="#">{{ song.name }}</a>

            </div>
        {% endfor %}

    </div>
{% endblock %}