{% extends 'layout.html' %}
{% block title %}
    Edit - Remove Song from Album
{% endblock %}

{% block content %}
        <nav class="navbar">
        <a href="/">Symphoria</a>
        <form action="/search" method="POST">
            {% if session['search'] %}
                <input type="text" name="search" value="{{ session['search'] }}">
            {% else %}
                <input type="text" name="search" value="">
            {% endif %}
            <button type="submit"><img src="{{ url_for('static', filename='magnifying-glass-solid.svg') }}" alt=""></button>
        </form>
        <a href="/profile">Profile</a>
        {% if Admin.query.filter_by(id=session['user_id']).first() %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Logout</a>
    </nav>
    <div class="content-container">
    <div class="menubar">
        <a href="/profile">Profile</a>
        <a href='/my_playlists'>Playlists</a>
        <a href='/my_songs'>My Songs</a>
        <a href="/my_albums">My Albums</a>
    </div>

    <div class="info">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    <div id = "flash_message">
                        {{ messages[0] }}
                    </div>
            {% endif %}
        {% endwith %}

        <h1>Remove Song from Album</h1>

        <form action="{{ url_for('edit_remove_from_album', album_id=album_id) }}"  method="POST">
            {% for song in songs %}
                <input type="checkbox" name="song" value="{{ song.id }}">
                <label for="song">{{ song.name }}</label><br>
            {% endfor %}
            <input type="submit" value="Remove Songs from Album">
        </form>
    </div>
    </div>
{% endblock %}