{% extends 'layout.html' %}
{% block title %}
    Edit - Add Song to Playlist
{% endblock %}

{% block content %}
    <nav class="navbar">
        <a href="/">Symphoria</a>
        <input type="text">
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </nav>

    <div class="menubar">
        <a href="/profile">Profile</a>
        <a href='/my_playlists'>Playlists</a>
        <a href='/my_songs'>My Songs</a>
        <a href="/my_albums">My Albums</a>
    </div>

    <div class="info">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    <div id = "flash_message">
                        {{ messages[0] }}
                    </div>
            {% endif %}
        {% endwith %}

        <h1>Add Song to Playlist</h1>

        <form action="{{ url_for('edit_add_to_playlist', playlist_id=playlist_id) }}"  method="POST">
            {% for song in songs %}
                <input type="checkbox" name="song" value="{{ song.id }}">
                <label for="song">{{ song.name }}</label><br>
            {% endfor %}
            <input type="submit" value="Add Song to Playlist">
        </form>
    </div>
{% endblock %}