{% extends 'layout.html' %}
{% block title %}
    Edit {{ album.name }}
{% endblock %}
{% block content %}
        <nav class="navbar">
        <a href="/">Symphoria</a>
        <form action="/search" method="POST">
            {% if session['search'] %}
                <input type="text" name="search" value="{{ session['search'] }}">
            {% else %}
                <input type="text" name="search" value="">
            {% endif %}
            <button type="submit"><img src="{{ url_for('static', filename='magnifying-glass-solid.svg') }}" alt=""></button>
        </form>
        <a href="/profile">Profile</a>
        {% if Admin.query.filter_by(id=session['user_id']).first() %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Logout</a>
    </nav>
    <div class="content-container">
    <div class="menubar">
        <a href="/profile">Profile</a>
        <a href='/my_playlists'>Playlists</a>
        <a href='/my_songs'>My Songs</a>
        <a href="/my_albums">My Albums</a>
    </div>

    <div class="info">
        <h1>Edit</h1>
        <form action="/my_albums/edit/{{ album.id }}" method="POST" enctype="multipart/form-data" class="formy">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ album.name }}" required>

            <label for="genre">Select a Music Genre</label>
            <select id="genre" name="genre" required>
                <option value="pop" {% if album.genre == "pop" %} selected {% endif %}>Pop</option>
                <option value="rock" {% if album.genre == "rock" %} selected {% endif %}>Rock</option>
                <option value="hip-hop" {% if album.genre == "hip-hop" %} selected {% endif %}>Hip-Hop/Rap</option>
                <option value="country" {% if album.genre == "country" %} selected {% endif %}>Country</option>
                <option value="electronic" {% if album.genre == "electronic" %} selected {% endif %}>Electronic/Dance</option>
                <option value="jazz" {% if album.genre == "jazz" %} selected {% endif %}>Jazz</option>
                <option value="blues" {% if album.genre == "blues" %} selected {% endif %}>Blues</option>
                <option value="rnb" {% if album.genre == "rnb" %} selected {% endif %}>R&B (Rhythm and Blues)</option>
                <option value="reggae" {% if album.genre == "reggae" %} selected {% endif %}>Reggae</option>
                <option value="classical" {% if album.genre == "classical" %} selected {% endif %}>Classical</option>
                <option value="metal" {% if album.genre == "metal" %} selected {% endif %}>Heavy Metal</option>
                <option value="indie" {% if album.genre == "indie" %} selected {% endif %}>Indie/Alternative</option>
                <option value="folk" {% if album.genre == "folk" %} selected {% endif %}>Folk</option>
                <option value="world" {% if album.genre == "world" %} selected {% endif %}>World Music</option>
                <option value="gospel" {% if album.genre == "gospel" %} selected {% endif %}>Gospel</option>
                <option value="punk" {% if album.genre == "punk" %} selected {% endif %}>Punk</option>
                <option value="soul" {% if album.genre == "soul" %} selected {% endif %}>Soul</option>
                <option value="funk" {% if album.genre == "funk" %} selected {% endif %}>Funk</option>
                <option value="disco" {% if album.genre == "disco" %} selected {% endif %}>Disco</option>
                <option value="bluegrass" {% if album.genre == "bluegrass" %} selected {% endif %}>Bluegrass</option>
            </select>

            <label for="thumbnail">Update Thumbnail</label>
            <input type="file" name="thumbnail" id="thumbnail" accept=".jpg, .jpeg, .png">

            <a href="/my_albums/edit/{{ album.id }}/add_song">Add Songs to Albums</a>
            <a href="/my_albums/edit/{{ album.id }}/remove_song">Remove Songs from Albums</a>

            <a href="/my_albums/delete/{{ album.id }}">Delete Album</a>

            <button type="submit">Update</button>
        </form>
    </div>
    </div>
{% endblock %}