{% extends 'layout.html' %}

{% block internal_css %}
    .recommended_songs, .recommended_albums, .recommended_playlists{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        margin: 5px 20px 20px 20px;
    }

    .song, .album, .playlist{
        width: 250px;
        height: 250px;
        margin: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: gray;
    }

    .song img, .album img, .playlist img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .song:hover, .album:hover, .playlist:hover {
        text-decoration: none;
        color: gray;
    }

    .info {
        margin: 20px;
    }

    .info h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .info .recommended_songs, .info .recommended_albums, .info .recommended_playlists {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .info .song, .info .album, .info .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        text-decoration: none;
        color: gray;
    }

    .info .song:hover, .info .album:hover, .info .playlist:hover {
        text-decoration: none;
        color: gray;

    }
    .song-info, .album-info, .playlist-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .song-info, .album-info, .playlist-info p{
        line-height: 6px;
    }
{% endblock %}

{% block content %}
    <nav class="navbar">
        <a href="/">Symphoria</a>
        <form action="/search" method="POST">
            {% if session['search'] %}
                <input type="text" name="search" value="{{ session['search'] }}">
            {% else %}
                <input type="text" name="search" value="">
            {% endif %}
            <button type="submit"><img src="{{ url_for('static', filename='magnifying-glass-solid.svg') }}" alt=""></button>
        </form>
        <a href="/profile">Profile</a>
        {% if Admin.query.filter_by(id=session['user_id']).first() %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Logout</a>
    </nav>

    <div class="info">
        <h1>Recommended Tracks</h1>
        <div class="recommended_songs">
            {% for song in songs %}
                <a href="/song/{{ song.id }}">
                    <div class="song">
                        <img src="{{ url_for('static', filename='uploads/song_thumbnails/' + song.thumbnail) }}" alt="">
                        <div class="song-info">
                            <p>{{ song.name }}</p>
                            <p>{{ song.artist.name }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1>Recommended Albums</h1>
        <div class="recommended_albums">
            {% for album in albums %}
                <a href="/album/{{ album.id }}">
                    <div class="album">
                        <img src="{{ url_for('static', filename='uploads/album_thumbnails/' + album.thumbnail) }}" alt="">
                        <div class="album-info">
                            <p>{{ album.name }}</p>
                            <p>{{ album.artist.name }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h1>Recommended Playlists</h1>
        <div class="recommended_playlists">
            {% for playlist in playlists %}
                <a href="/my_playlists/{{ playlist.id }}">
                    <div class="playlist">
                        <img src="{{ url_for('static', filename='playlist_thumbnails/' + 'random.png') }}" alt="">
                        <div class="playlist-info">
                            <p>{{ playlist.name }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
