{% extends 'layout.html' %}
{% block title %}
    My Albums
{% endblock %}
{% block content %}
    <nav class="navbar">
        <a href="/">Symphoria</a>
        <input type="text">
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </nav>

    <div class="menubar">
        <a href="/profile">Profile</a>
        <a href='/my_playlists'>Playlists</a>
        <a href='/my_songs'>My Songs</a>
        <a href="/my_albums">My Albums</a>
    </div>

    <div class="info">
        {% if user.role == 'Creator' %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        <div id = "flash_message">
                            {{ messages[0] }}
                        </div>
                {% endif %}
            {% endwith %}

            <a href="/my_albums/create" class="add_albums">Add Albums</a>

            <h1>Your Albums</h1>
            {% if albums %}
                {% for album in albums %}
                    <div class="album_controls">
                            <a href="#"><h3>{{ album.name }}</h3></a>
                            <a href="/my_albums/edit/{{ album.id }}">Edit</a>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Nothing to show here</h1>
            {% endif %}
        {% else %}
            <h1>You need to be a Creator to add Albums</h1>
        {% endif %}
    </div>
{% endblock %}