{% extends 'layout.html' %}
{% block title %}
    Profile
{% endblock %}
{% block internal_css %}

    .info h1{
        font-size: 20px;
    }
    .info form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        margin-top: 0;
        margin-bottom: 20px;
        width: 80%;
        height: 100%;
    }
    .info form input{
        width: 50%;
        height: 30px;
        margin-bottom: 10px;
    }
    .change_password{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        margin-top: 0;
        margin-bottom: 20px;
        width: 80%;
        height: 100%;
    }
{% endblock %}
{% block content %}
        <nav class="navbar">
        <a href="/">Symphoria</a>
        <form action="/search" method="POST">
            {% if session['search'] %}
                <input type="text" name="search" value="{{ session['search'] }}">
            {% else %}
                <input type="text" name="search" value="">
            {% endif %}
            <button type="submit"><img src="{{ url_for('static', filename='magnifying-glass-solid.svg') }}" alt=""></button>
        </form>
        <a href="/profile">Profile</a>
        {% if Admin.query.filter_by(id=session['user_id']).first() %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Logout</a>
    </nav>

    <div class="content-container">
    <div class="menubar">
        <a href="/profile">Profile</a>
        <a href='/my_playlists'>Playlists</a>
        <a href='/my_songs'>My Songs</a>
        <a href="/my_albums">My Albums</a>
    </div>

    <div class="info">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    <div id = "flash_message">
                        {{ messages[0] }}
                    </div>
            {% endif %}
        {% endwith %}

        <div class="profile_username">
            <h1>Username : {{ user.username }}</h1>
        </div>
        <div class="profile_name">
            <h1>Name : {{ user.name }}</h1>
        </div>
        <div class="role">
            <h1>Role : {{ user.role }}</h1>
            {% if user.role == 'Listener' %}
                <a href="/become_creator">Become a creator</a>
            {% endif %}
        </div>
        <div class="change_password">
            <form action="/change_password" method="POST">
                <h1>Change Password</h1>
                <input type="password" name="old_password" id="old_password" placeholder="Old Password">
                <input type="password" name="new_password" id="new_password" placeholder="New Password">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                <input type="submit" id="change_password" value="Change Password">
            </form>
        </div>
    </div>
    </div>
{% endblock %}