{% extends 'layout.html' %}
{% block title %}
    SignUp
{% endblock %}
{% block internal_css %}
    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }

    form input[type="text"], form input[type="password"], form select {
        width: 200px;
        padding: 5px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    form input[type="submit"] {
        width: 100px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

    form input[type="submit"]:hover {
        background-color: #0056b3;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                <div id = "flash_message">
                    {{ messages[0] }}
                </div>
        {% endif %}
    {% endwith %}
    <div class = "overlay">
    <div class="container">
        <h1><a href="/">Symphoria</a></h1>
        <p>Sign Up to start listening</p>
        <form action="/signup" method="post">
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="text" name="name" id="name" placeholder="Name" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>

            <select name="role" id="role" required>
                <option value="" disabled selected>Select your role</option>
                <option value="1">Creator</option>
                <option value="2">Listener</option>
            </select>
            <input type="submit" value="Sign Up">
        </form>

        <a href="/login">Already have an account? Login here.</a>
    </div>
    </div>
{% endblock %}